.characters-list-wrapper {
  .characters-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1920px;
  }

  .page-loading,
  .main-loading {
    margin: auto;
    display: block;
    font-size: 1rem;
    text-align: center;
    width: 100%;
    text-align: center;
  }
  .main-loading {
    margin-top: 1rem;
  }
}
