.layout__header {
  padding: 0.5rem 1rem;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

.layout__header a {
  color: inherit;
  text-decoration: none;
}

.layout__footer {
  padding: 0.5rem 1rem;
  border-top: 1px solid black;
  text-align: right;
  background: rgb(32, 35, 41);
  color: rgb(158, 158, 158);
}
